h1{
    color: #ff15ff;
    font-size: 60px;
    font-weight: normal;
    font-family: "impact";
    text-align: center;
    background-color:rgba(100,0,100,100) ;
}

h2{
    color: #3115ff;
    text-align: center;
    background-color:rgba(0,255,100,100) ;
}
h3{
    color:blueviolet;
}
p{
   color: black;
}

body{
    background-image: url(../images/01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
